@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  font-size: .875rem;
}
canvas{
    display: none;
}
ul, ol, *{
    list-style: none;
    padding: 0;
    margin: 0;
}
.layout{
    grid-template-areas:"sidebar header header header" 
                        "sidebar main main main" 
                        "sidebar main main main"
                        "sidebar footer footer footer";
    grid-template-columns: 80px auto;
    grid-template-rows: 60px auto auto 60px;
}
main {
    grid-area: main;
    height: calc(100vh - 120px);
    scroll-behavior: smooth;
    overscroll-behavior-y: contain;
    scrollbar-width: thin;
    scrollbar-color: inherit;
}
header{
    grid-area: header;
}
aside {
    grid-area: sidebar;
}
footer {
    grid-area: footer;
}